@page
@model Demo.Pages.Cart.EditModel
@{
}

<br>
<h2>Cập nhật số lượng</h2>

@if (Model.failMessage.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.failMessage</strong>
		<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
	</div>
}

<form method="POST">
	<input type="hidden" name="id" value="@Model.milkteaInfo.id">
	<div class="row mb-3">
		<img src="~/images/@Model.milkteaInfo.img" alt="@Model.milkteaInfo.id" style="width: 200px; height: 200px;" />
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Tên:</label>
		<div class="col-sm-6">
			<p>@Model.milkteaInfo.name</p>
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Số lượng</label>
		<div class="col-sm-6">
			<input type="number" min="1" class="form-control" name="quantity" value="@Model.milkteaInfo.create_at" required>
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Giá mỗi ly:</label>
		<div class="col-sm-6">
			<p>@Model.milkteaInfo.cost</p>
		</div>
	</div>

	@if (Model.completeMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class='alert alert-success alert-dismissible fade show' role='alert'>
					<strong>@Model.completeMessage</strong>
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary"> Sửa </button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/Cart/Index" role="button">Huỷ</a>
		</div>
	</div>

</form>